go 1.25.8

use (
	./gen/go
	./packages/common-go
	./packages/sdk-go
	./services/authz-engine
	./services/decision-service
	./services/did-service
	./services/entity-service
	./services/federation-service
	./services/surplus-engine
	./services/trust-engine
)
